# ignore text editor files
*~
*\#

# python
__pycache__
*.egg-info
*.pyc
*.ipynb_checkpoints

# latex
*.aux
*.bbl
*.blg
*Notes.bib
*.log
*.out
*.pdf
paper/.texpadtmp/
!paper/main.pdf

# ignore local files
out
_test
*.DS_Store
