# ignore text editor files
*~
*\#

# python
__pycache__
*.egg-info
*.pyc
*.ipynb_checkpoints

# latex
*.aux
*.bbl
*.blg
*Notes.bib
*.log
*.out
*.pdf
!report/report.pdf
!paper/paper.pdf

# julia
Manifest.toml

# ignore local files
out
_test
*.DS_Store




